<div class="container mt-3">
  <div class="row">
    <div class="col-sm-9">
      <h1>Places</h1> 
    </div>
    <div class="col-sm-3 text-end">
      <% if @current_user != nil %>
        <a href="/places/new" class="btn btn-primary">New Place</a>
      <% end %>
    </div>
  </div>
</div>

<ul class="container mt-2 list-unstyled">
  <% for place in @places %>
    <ul>
      <li>
        <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
      </li>
    </ul>
  <% end %>
</ul>